
.calculadora {
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    padding-top: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
  }
  
  .calculadora > h3 {
    text-transform: uppercase;
    color: rgb(55, 55, 58);
  
  }
  
  div {
    margin-top: 10px;
    
  }
  
  .dropdown {
    width: 222px;
  }

  
  .button {
    margin-top: 25px;
  }
  
  .button:hover {
    background-color: rgb(12, 51, 109) !important;
  }